# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
# User-specific files
*.suo
*.user
*.sln.docstates

[Dd]ebug/
[Rr]elease/
*.apk
*_i.c
*_p.c
*.ilk
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds
*.dotCover

# Visual Studio profiler
*.psess
*.vsp

# ReSharper is a .NET coding add-in
_ReSharper*

# Installshield output folder
[Ee]xpress

# Click-Once directory
publish

# Others
#[Bb]in
#[Oo]bj
sql
TestResults
*.Cache
ClientBin
stylecop.*
~$*
*.dbmdl
Backup*/
UpgradeLog*.XML

ExportedObj/
obj/
*.svd

# ============ #
# OS generated #
# ============ #
Thumbs.db
Desktop.ini
.Spotlight-V100
.Trashes
ehthumbs.db
# Mac crap
.DS_Store
.DS_Store?

# =============== #
# Unity generated #
# =============== #
Temp/
Library/
*.unityproj
*.booproj
*.csproj
*.sln
*.userprefs
metadata
CurrentLayout
